* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.video-wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 400px) 1fr;
  max-height: 100vh;
  aspect-ratio: 1;
  border: 10px solid black;
  margin: 0 auto;
}
video {
  z-index: -1;
  grid-column: 1 / span 3;
  grid-row: 1 / span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;

  /** Simulationg background-size: cover */
}
.header {
  color: white;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  grid-column: 1/3;
  grid-row: 2/3;
  padding: 20px;
}
h1 {
  font-family: "Inspiration", cursive;
  color: white;
  font-size: 3rem;
}
p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.5rem;
  word-break: break-all;
}

.filter-me {
  filter: blur(3px);
  /* filter: grayscale(1); */
  filter: blur(3px) saturate(2.2);

  /* filter: none;  */
}
